<div class="banner-superior">
    <div class="marca">
        <a href="/">
            <img src="/imagenes/svg/logo-principal.svg" width="50" style="margin-right: 10px;">
        </a>
        <span style="font-family: Roboto-Bold;font-size: 30px;color: gold;text-shadow: 1px 1px 0 black;">
            Recursos
        </span>
    </div>
    <div class="cinta-de-botones">
        <a class="boton dodgerblue" href="/autenticacion/iniciar-sesion">
            Iniciar sesion
        </a>
        <a class="boton dodgerblue" href="/autenticacion/registrarse">
            Registrarse
        </a>
    </div>
</div>