<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('parcial/head') %>
    <title>Recursos para programadores</title>
</head>
<body>
    <%- include('parcial/banners/general-no-sesion/banner-superior-1') %>
    <div class="contenedor">
        Recursos para programadores
        <%- JSON.stringify(user) %>
    </div>
    
</body>
</html>