<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include(info_pagina.subir_a_raiz+'parcial/head.ejs') %>
    <title>Registrarse</title>
  </head>
  <body>
    <style>
      .contenedor {
        text-align: center;
        padding: 15px;
        &.general {
          min-height: 95vh;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        &.registro {
          display: inline-block;
          border: 1px solid lightgray;
          border-radius: 10px;
        }
        .lbl {
          text-align: left;
        }
      }
    </style>
    <div class="contenedor general">
      <div class="contenedor">
          <div class="bold" style="font-size: 150%">Registro</div>
          <br />
          <div class="contenedor registro">
            <div class="marca">
              <a href="/">
                <img src="/imagenes/svg/logo-principal.svg" width="50" />
              </a>
            </div>
            <div class="lbl">Usuario</div>
            <input
              type="text"
              class="usuario tamaño-mediano"
              required
            />
            <br />
            <br />
            <div class="lbl">Contraseña</div>
            <div>
              <input
                type="password"
                class="contraseña tamaño-mediano"
                required
              />
              <label class="mostrar">
                <input
                  type="checkbox"
                  onchange="accion.input.mostrar_contraseña(this)"
                />
                M
              </label>
            </div>
            <br />
            <br />
            <div class="boton dodgerblue">
              Registrarse
            </div>
          </div>
      </div>
    </div>
  </body>
</html>
