<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include(info_pagina.subir_a_raiz+'parcial/head.ejs') %>
    <title>Registrarse</title>
  </head>
  <body>
    <%= JSON.stringify(info_pagina) %> 123
    <br />
    <%= JSON.stringify(user) %> 123

    <div class="contenedor pantalla-completa centrar-todo">
      <div class="contenedor">
        <div class="bold" style="font-size: 150%">Registro</div>
        <br />
        <div class="contenedor bordeado">
          <div class="marca">
            <a href="/">
              <img src="/imagenes/svg/logo-principal.svg" width="50" />
            </a>
          </div>
          <div class="lbl">Usuario</div>
          <input type="text" class="nombre tamaño-mediano" />
          <br />
          <br />
          <div class="lbl">Contraseña</div>
          <div>
            <input type="password" class="contraseña tamaño-mediano" />
            <label class="mostrar">
              <input
                type="checkbox"
                onchange="accion.input.mostrar_contraseña(this)"
              />
              M
            </label>
          </div>
          <br />
          <br />
          <div class="boton dodgerblue" onclick="crear_usuario()">
            Registrarse
          </div>
        </div>
      </div>
    </div>

    <script>
      function crear_usuario() {
        socket.emit("crear usuario", {
          nombre: document.querySelector("input.nombre").value,
          contraseña: document.querySelector("input.contraseña").value,
        });
      }
    </script>
  </body>
</html>
